<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Go Fun</title>
</head>
<body>
<div id="menu" th:replace="/layout :: menu"></div>
    <table>
        <tr th:each="conversation: ${conversations}">
            <a th:href="@{/post(id=${conversation.id})}">
            <h3 th:text="*{conversation.name}"></h3>
            <img th:src="${conversation.imgSrc}" width="500px">
            </a>
            <p th:text="${conversation.upvote}"></p><p>point</p>
            <th:block th:if="${user}">
                <input type="submit" value="Upvote">
                <input type="submit" value="Downvote">
                <th:block th:if="${user.getRole()}=='ROLE_ADMIN'">
                    <form method="post">
                        <input type="hidden" name="conversation" value="${conversation.id}">
                        <input type="submit" value="Delete">
                    </form>
                </th:block>
            </th:block>
            <hr>
        </tr>
    </table>
</body>
</html>